main {
    width: 100%;
    background: yellow;
    header {
        background: orange;
    }
    nav {
        background: purple;
    }
    article {
        background: green;
    }
    section {
        background: blue;
    }
    aside {
        background: pink;
    }
    footer {
        background: red;
    }
}