.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* position: relative; */
}
header {
  background: blue;
  width: 100%;
  height: 3em;
  position: fixed;
  top: 0;
  z-index: 10;
}
nav {
  background: yellow;
  width: 100%;
  height: 5em;
  position: fixed;
  top: 3em;
  z-index: 10;
}
article {
  width: 100%;
  position: absolute;
  top: 8em;
  margin-bottom: 3em;
}
.my-list {
  flex-basis: initial;
}
footer {
  background: pink;
  width: 100%;
  height: 3em;
  position: fixed;
  bottom: 0;
}
.mini-size {
  font-size: 0.1rem;
}
.date-time {
  color: purple;
}
.border-black {
  border: 1px solid orange
}
.first-div, .second-div, .three-div {
  display: flex;
  justify-content: space-between;
}
.num, .shiji {
  margin-right: 2em;
}
.shiji-font {
  margin-right: 2.5em;
}
.xianliao {
  margin-left: 5.6em;
}